body {background-color: rgb(199,222,255);}




header {
Background-color: black;  
Font-family: "Andale Mono", AndaleMono, monospace; 
color: white;
Text-align: center;
margin-left: 20px;
text-decoration-line: underline;
text-decoration-color: white;
text-transform: uppercase;
font-weight: bold;
font-size: 2.875em;
border-style: solid;
border-width: 0px 0px; 
padding: 30px;
}
   
   

.p {
letter-spacing: 5px;
line-height: 1.15;
font-family: "Times New Roman", Times, serif;
Color: black;
font-weight: bold;
Text-align: center;
margin-left: 20px;
text-transform: uppercase;
font-size: 2.1em;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.ty {
font-family: "Times New Roman", Times, serif;
Color: black;
Text-align: center;
margin-left: 20px;
font-weight: bold;
font-size: 1.60em;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}


.a {
font-family: "Times New Roman", Times, serif;
letter-spacing: 5px;
line-height: 2;
Color: black;
Text-align: center;
margin-left: 20px;
font-size: 1.50em;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.f {
font-family: "Times New Roman", Times, serif;
Color: black;
Text-align: center;
margin-left: 20px;
font-weight: bold;
font-size: 1em;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
