
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {background-color: rgb(199,222,255);
font-family: "Andale Mono", AndaleMono, monospace;
}


header {
background-color: rgb(240,220,240);  
color: black;
text-align: center;
text-decoration-line: underline;
text-decoration-color: white;
text-transform: uppercase;
font-weight: bold;
font-size: 2.875em;
border-bottom: 2px solid black;
padding: 30px;
}
   
.par, .p, .ty, .a, .f {
letter-spacing: 0;
line-height: 1.5;
font-family: "Andale Mono", AndaleMono, monospace; 
color: black;
Text-align: center;
margin-left: 20px;
padding: 10px;
}

.par {
font-size: 1.5em;
padding-top: 30px;
}

.p {
font-weight: bold;
text-transform: uppercase;
font-size: 2.1em;
}

.ty {
font-weight: bold;
font-size: 1.60em;
}


.a {
font-size: 1.50em;
}

.f {
font-weight: bold;
font-size: 1em;
}

table {
width: 100%;
table-layout: auto;
margin-left: 0;
margin-right: 0;
border-collapse: collapse;
border: 2px solid black;
}


th, td {
font-family: "Andale Mono", AndaleMono, monospace; 
text-transform: uppercase;
font-weight: bold;
height: 50px;
padding: 15px;
text-align: center;
vertical-align: Center;
border: 2px solid black;	
}



th {
background-color: grey;
color: white;
font-size: 25px;
}

td {
color: black;
font-size: 20px;
}

tr:hover {background-color: beige;}

/* Navigation bar style, hover and etc.*/ 
.navbar-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: RGB(152,90,153);
  font-family: "Andale Mono", AndaleMono, monospace; 
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.navbar-menu li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.navbar-menu li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.navbar-menu .dropdown {
  display: inline-block;
}

.navbar-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-menu .dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-menu .dropdown-content a:hover {background-color: #f1f1f1;}

.navbar-menu .dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar-menu li {
    display: block;
    text-align: left;
  }

  table th, table td {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  header {
    font-size: 1.8em;
    padding: 15px 0;
  }

  .navbar-menu li {
    font-size: 1.2em;
  }
}


