
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
background-color: rgb(199,222,255);
font-family: "Andale Mono", AndaleMono, monospace;
min-height: 100vh;
display: flex;
flex-direction: column;
}

main {
  flex: 1;
  padding: 0 20px;
}

header {
background-color: rgb(240,220,240);  
color: black;
text-align: center;
text-decoration-line: underline;
text-decoration-color: white;
text-transform: uppercase;
font-weight: bold;
font-size: 2.875em;
border-bottom: 2px solid black;
padding: 30px;
}
   
.pageintro
{
text-align: justify;
margin:0;
padding: 20px 0;
line-height: 1.6;

}
.par, .p, .ty, .a{
letter-spacing: 0;
line-height: 1.5;
font-family: "Andale Mono", AndaleMono, monospace; 
color: black;
text-align: center;
margin-left: 20px;
padding: 10px;
}

.par {
font-size: 1.5em;
padding-top: 30px;
text-align: center;
}

.p {
font-weight: bold;
text-transform: uppercase;
font-size: 2.1em;
text-align: center;
}

.ty {
font-weight: bold;
font-size: 1.60em;
text-align: center;
padding: 20px 0;
}


.a {
font-size: 1.50em;
text-align: center;
}

.f {
font-weight: bold;
font-size: 1em;
text-align: center;
padding: 30px;
background-color: rgb(240,220,240);
border-top: 2px solid black;
margin-top: 40px;
width: 100%;
}

.f a {
  color: black;
  text-decoration: none;
}

.f a:hover {
  text-decoration: underline;
}

.tabletitle
{
  text-align: center;
  font-size: 2em;
  margin: 30px 0 15px 0;
}

table {
width: 100%;
table-layout: auto;
margin-left: 0;
margin-right: 0;
border-collapse: collapse;
border: 2px solid black;
}


th, td {
font-family: "Andale Mono", AndaleMono, monospace; 
text-transform: uppercase;
font-weight: bold;
height: 50px;
padding: 15px;
text-align: center;
vertical-align: middle;
border: 2px solid black;	
}



th {
background-color: grey;
color: white;
font-size: 25px;
font-size: 1.5em;
}

td {
font-weight: normal;
text-transform: none;
color: black;
font-size: 20px;
font-size: 1.2em;
}

tr:hover {background-color: beige;}

/* Navigation bar style, hover and etc.*/ 
.navbar-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: RGB(152,90,153);
  font-family: "Andale Mono", AndaleMono, monospace; 
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.navbar-menu li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.navbar-menu li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.navbar-menu .dropdown {
  display: inline-block;
}

.navbar-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-menu .dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-menu .dropdown-content a:hover {background-color: #f1f1f1;}

.navbar-menu .dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar-menu li {
    display: block;
    text-align: left;
    float: none;
  }

  table th, table td {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  header {
    font-size: 1.8em;
    padding: 15px 0;
  }

  .navbar-menu li {
    font-size: 1.2em;
  }
}


